.counter-container span {
    user-select: none;
    position: absolute;
    background: blueviolet;
    width: 1.5rem;
    height: 1.5rem;
    font-size: .8rem;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    top: .2rem;
    right: -2rem;
}

.counter-container span:not(.animated-counter){
    display: none;
}

.counter-container span .animated-counter{
    animation: count .10s ease-in-out
}
@keyframes count{
    from{
        top: -2rem;
        right: 5rem;
    }
    30%{
        top: -2rem;
        right: 2rem;
    }    
    70%{
        top: -2rem;
        right: 0rem;
    }
        
    100%{
        top: -2rem;
        right: -1rem;
    }
    to{
        top: .2rem;
        right: -2rem;
    }
}